.btn-primary-red {
  color: #fff;
  background-color: #EC4040;
  border-color: #EC4040;
}

.bg-indigo{
  background-color: #5F96FD;;
  border-color: #5F96FD;;
  color: #fff;
}

@media (max-width: 575px) {
  .space{
    margin-top:5px;
  }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
  .space{
    margin-top:5px;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  .space{
    margin-top:5px;
  }
}
.dataTables_filter input {
  outline: 0;
  width: 800px;
  height: 38px;
  padding: 8px 0;
  padding-right: 24px;
  font-size: 13px;
  line-height: 1.5384616;
  color: #333333;
  background-color: transparent;
  border: 1px solid transparent;
  border-width: 1px 0;
  border-bottom-color: #ddd;
}

.dataTables_filter {
  position: relative;
  display: block;
  float: left;
  margin-top: 1rem;
  margin-right: 0px;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem
}

.dataTables_info {
  float: left;
  padding-top: 0.5rem;
  padding-right: 0px;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  margin-bottom: 1.25rem;
}

.dataTables_filter input:focus {
  border-bottom-color: #0064D2;
  -webkit-box-shadow: 0 1px 0 #5F96FD;
  box-shadow: 0 1px 0 #5F96FD;
}